#container {
        display: flex;
        border: 1px solid lightgray;
        flex-direction: column;  
        justify-content: center;
        align-items: center;
        height: 75vh;
        background-color:#eeeefa ;
    }

 #grid-container { 
    width: 60vw; 
   
   border-radius: 20%;
    height: 45vh;
    margin-top: 30px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(158, 156, 156, 0.1);
    outline:#9e9edd;
    display: grid;
    grid-template: 
        "header  header "  150px
        "left  right"      auto
        / [col-start] 3fr   [col-2]  3fr  [col-end]  3fr
        ;
    }

    .header{
        grid-area: header ;
        background-color:hsl(220, 43%, 99%)  ; 
        /* font-weight: bold; */
        /* color: rgb(68, 160, 145);  */
        padding: 20px; 
        /* font-size: 20px; */
        text-align: left
}

.grid-item1{
    color: rgb(68, 160, 145);  
    font-size: 20px;
    /* padding: 10px; */
    font-weight: bold;
}

.grid-item2{
    color:rgb(192, 221, 29);
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px;
}

.grid-item3{
    color:gray;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 20px;
    
}

.grid-item4{
    /* display: flex; */
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    align-items: left;
   
    
}

.grid-item5{
    display: flex;
    align-items: baseline;
}

.grid-item6{
    /* display: flex; */
    color: white;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
    
    
}
.grid-item7{
    color: white;
    padding-left: 10px;
    font-size: 20px;
    margin-bottom: 20px;  
}

.grid-item8{
    color: white;
    padding-top: 20px;
    font-size: 20px;  
    padding-bottom: 10px;
}

.button{
    border: none;
    background-color: rgb(192, 221, 29) ;
    color:whitesmoke;
    align-items: center;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    width: 85%;
    border-radius: 8px;
}




.box-left{
    background-color: rgb(54, 187, 165);
    grid-area: left;
    color: white;
    padding: 20px;
    font-size: 10px;
     text-align: left;
}

.box-right{
    background-color: rgb(85, 218, 195);
    grid-area: right;
    color: white;   
    padding: 20px;
    font-size: 25px;
     text-align: left;
}

.grid-item9 {
    font-weight: bold;
    padding-bottom: 10px;
}

.grid-item10{
    font-size: 20px; 
    list-style-type: none;
    margin: 0;
    padding: 0;
}